
body{
	background-color:#1c1917;
	color:#f5f5f4;
	font-family: 'Roboto', sans-serif;
	
}

li{
	font-size:15px;
}

h1{
	color:yellow;
}

.atext{
	font-size : 25px;
	color:black;
	background-color: yellow;
}
